/* Will likely need to clean up our CSS */
.marker-btn {
  background: none;
  border: none;
}

.mapboxgl-popup {
  max-width: 25%;
  overflow-wrap: anywhere;
}

.nav-bar {
  width: 100%;
  height: 5vh;
  background-color: #003767;

}

.nav-contents {
  color: #7f9bb3;
  height: 5vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -.5px;

}

ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px;
  list-style-type: none;
}

ul :hover {
  color: white;
  cursor: pointer;
}

li {
  padding-right: 10px;
  font-size: 18px;
}

.header {
  display: flex;
  width: 100%;
  height: 15vh;
  align-items: center;
  justify-content: center;
}

.header-right {
  width: 25%;
  margin-left: 5%;
}

.header-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-buttons button {
  padding: 7px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: -.5px;
}

.social-icons {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin-left: 4%;
}

.social-icons a{
  color: grey;
  padding-right: 10px;
}

.buttonA {
  background-color: #7f9bb3;
  border: none;
}

.buttonB {
  background-color: #bc541e;
  border: none;
}

.buttonC {
  background-color: #215589;
  border: none;
}

.left-cta {
  height: 100;
  width: 13%;
  background-color: #e8e8e8;
}

.main-container {
  display: flex;
  width: 100%;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}
.clusterClass img {
  display: none;
}
.clusterClass {
  background-color: rgba(255, 0, 0, 0.466);
  border-radius: 50%;
}

.searchList {
  height: 10%;
  border: solid black 1px;
  overflow-y: auto;
}

.trigger-sibling {
  text-decoration: underline;
  font-weight: 700;
}
.Collapsible {
  background-color: white;
  margin-bottom: 1%;
  border-left: 1px solid rgb(93, 100, 100);
  font-family: sans-serif
}
.Collapsible span {
  font-weight: 600;
  cursor: pointer;
  color: black;
  font-size: 12px;
  padding-left: 2%;

  
}
.sibling {
  background-color: white;
  color: black;
  padding-left: 2%;
  font-size: 12px;
  padding-bottom: .5%;
}
.searchBar {
  margin-top: 2%;
  width: 45%;
}
.links {
  width: 30%;
}
.colContent {
  background-color: #d3d3d3;
}
.colContent a:link,
.colContent a:visited {
  color: rgb(241, 212, 212);
}

.searches {
  width: 47%;
  min-width: 47%;
  max-width: 0;
  margin-right: 3%;
}

.placeholder {
  width: 50%;
  height: 45vh;
  border: 1px solid black;
}

.below-map {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-top: 1%;
  border-top: 2px solid #003767;
  border-bottom: 2px solid #003767;
  padding-bottom: 2%;
  padding-top: 2%;
  align-content: center;
  margin-left: 8%;
  margin-right: 8%;
}

.searchResults {
  max-height: 33.5vh;
  overflow-y: scroll;
  
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.Loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-div {
  background-color: white;
}

.search-form {
  width: 70%;
  margin-right: 3%;
  font-family: sans-serif;
  border-radius: 0;
  border: 1px solid rgb(93, 100, 100);
  padding-left: 2%;
  height: 3vh;
}

.form-div {
  padding-bottom: 2%;

}

.search-button {
  font-family: sans-serif;
  color: white;
  background-color: #003767;
  border: 1px solid #003767;
  height: 3vh;
  width: 10%;
}

.placeholder img {
  height: 43vh;
  width: 100%;
}

.search-links {
  color: #003767;
  font-size: 12px;
  padding-left: 5%;
  line-height: 10px;
  margin-top: 1%;
}

.timeline-container {
  width: 84%;
  margin-bottom: 5%;
  margin-left: 8%;
  padding-right: 8%;
  margin-top: 2%;
}


.timeline-tags {
  margin-right: 1%;
  background-color: #e8e8e8;
  border-radius: 5%;
  padding-right: 4px;
  padding-left: 4px;
  margin-bottom: 4px;
}

.timeline-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.link-button {
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  margin-right: 4px;
  margin-bottom: 4px;
  background-color: #dadbdc;
  border-radius: 5%;
}

.link-button:hover{
  color: #003767;
}

.tag-container{
  margin-bottom: 1%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tl-header{
  width: 100%;
  text-align: center;
  padding-left: 8%;
}